.form {
  min-width: 200px;
  width: 30%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  flex-direction: column;
  background-color: #fff;

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1 1;
  }
}
